a {
  color: #00B7FF;
}

span.warning{
  color:#eeaa00;
}

span.error{
  color:#dd0000;
}

span.ok{
  color:#00aa00;
}

.certificate{
  margin:20px;
}

.cert-title{
  text-align: center;
  color: coral;
}

.cert-name{
  text-align: left;
}

.cert-text{
  text-align: left
}

.cert-issuer{
  text-align: right;
}

.cert-date{
  text-align: right;
}